<%= form_with(model: task, method: task.persisted? ? :patch : :post) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :task %>
    <%= form.text_field :task %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ['TODO', 'DONE']%>
  </div>

  <div class="actions">
    <%= form.submit %>
  <% end %>