<%= form_for(@user, url: update_privacy_user_path, method: :patch) do |form| %>
  <div class="form-group">
    <%= form.check_box :privacy, id: 'privacySwitch' %>
    <%= form.label :private,  for: 'privacySwitch',label: 'Custom Private Label' %>
  </div>  

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation  %>

  <%= form.submit 'Update Privacy' %>
<% end %>
