<div>
	<% if tasks.any? %>
  <ol>
    <div class="row">
      <div class="col-3">
        <b>  <%= task_type %> List</b>
      </div>
      
      <div class="col-2">
        <b> Actions </b>
      </div>
    </div>
    <% tasks.each do |task| %>
      <li>
      <div class="row">
        <div class="col-3">
          <%= task.task %>
        </div>
        <div class="col-2">
          <%= link_to 'Remove task ', task_path(id:task.id), data: { "turbo-method": :delete }  %>
          <span> |</span>
          <%= link_to 'Edit' , edit_task_path(id:task.id) %>
        </div>
      </div>
      </li>
    <% end %>
  </ol>
  <% else %>
    <b> ther are no <%= task_type %> tasks </b>
  <% end %></div>